#Pandas Data Analysis and Business Applications

This assignment is to demonstrate my ability to perform data analysis using business scenarios using Pandas. Here are the skills demonstrated in this notebook:

  - Import and create Pandas DataFrames from dictionaries and lists.
  - Identify and handle missing data.
  - Transform data by adding calculated columns and renaming columns.
  - Filter and index data using boolean expressions and string methods.
  - Group data and perform multiple aggregations.
  - Merge DataFrames and create pivot tables.
  - Save and load data using CSV and Excel formats.
  - Communicate your data analysis findings in a clear, concise report.

In [21]:
#note: you must execute this cell to run the code correctly
import pandas as pd

##Task 1: Data Import and Creation

In [22]:
df_products = pd.DataFrame({
    'Product': ['Tablet', 'Smartphone', 'Laptop', 'Smartwatch'],
    'Price': [299.99, 499.99, 999.99, 199.99],
    'Stock': [120, 150, 80, 200]})

df_sales = pd.DataFrame({
    'Region': ['North', 'South', 'East', 'West', 'North', 'South'],
    'Sales': [250, 300, 450, 500, 350, 400]})

##Task 2: Data Cleaning and Transformation

In [16]:
df_nan = pd.DataFrame({
    'Product': ['TV', 'Radio', 'Speaker'],
    'Price': [499.99, None, 199.99],
    'Stock': [20, 30, None]})

#Fill missing "Price" values with the mean price and "Stock" values with 0.
df_nan.fillna({'Price': df_nan['Price'].mean()}, inplace = True)
df_nan.fillna({'Stock': 0}, inplace=True)

# For df_products, add a new column "Total Value" that is the product of "Price" and "Stock"
df_products['Total Value'] = df_products['Price']*df_products['Stock']

# Create another new column in df_products named "Discounted Price" that applies a 10% discount to "Price".
df_products['Discounted Price'] = df_products['Price']*0.9

df_products.rename(columns={'Product': 'Item', 'Price' : 'Unit Price', 'Stock': 'Inventory'}, inplace=True)


print(df_nan)
print(df_products)

   Product   Price  Stock
0       TV  499.99   20.0
1    Radio  349.99   30.0
2  Speaker  199.99    0.0
         Item  Unit Price  Inventory  Total Value  Discounted Price
0      Tablet      299.99        120      35998.8           269.991
1  Smartphone      499.99        150      74998.5           449.991
2      Laptop      999.99         80      79999.2           899.991
3  Smartwatch      199.99        200      39998.0           179.991

##Task 3: Data Filtering and Indexing

In [17]:
#From df_products, filter and display all items with a "Unit Price" greater than 300
pricey_items = df_products[df_products['Unit Price']>300]
print(f"Products that have Unit Price greater than $300: \n{pricey_items} \n")

#Use string methods to filter and display items in df_products whose names contain the letter "a" (case-insensitive)
items_with_a = df_products[df_products['Item'].str.contains('a', case=False)]
print(f"\n Products whose names contain 'a' (case-insensitive): \n{items_with_a}")

Products that have Unit Price greater than $300:
         Item  Unit Price  Inventory  Total Value  Discounted Price
1  Smartphone      499.99        150      74998.5           449.991
2      Laptop      999.99         80      79999.2           899.991


 Products whose names contain 'a' (case-insensitive):
         Item  Unit Price  Inventory  Total Value  Discounted Price
0      Tablet      299.99        120      35998.8           269.991
1  Smartphone      499.99        150      74998.5           449.991
2      Laptop      999.99         80      79999.2           899.991
3  Smartwatch      199.99        200      39998.0           179.991

##Task 4: Grouping and Aggregation

In [23]:
#Group df_sales by "Region" and calculate the total sales for each region.
grouped_region = df_sales.groupby('Region').sum('Sales')
print(f"Total Sales by Region:\n {grouped_region} \n")


#Group df_sales by "Region" and compute both the sum and average of sales.
aggregated = df_sales.groupby('Region').agg({'Sales': ['sum', 'mean']})
print(f"\n Total Sales and Mean by Region:\n {aggregated}")

Total Sales by Region:
         Sales
Region
East      450
North     600
South     700
West      500


 Total Sales and Mean by Region:
        Sales
         sum   mean
Region
East     450  450.0
North    600  300.0
South    700  350.0
West     500  500.0

##Task 5: Merging and Pivot Tables

In [24]:

#Create a DataFrame named df_customers with the following data
df_customers = pd.DataFrame({
    'CustomerID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

#Create another DataFrame named df_orders with the following data
df_orders = pd.DataFrame({
    'CustomerID': [1, 2, 1],
    'OrderID': [101, 102, 103],
    'Amount': [250, 150, 300]
})

#Merge df_customers and df_orders on "CustomerID" using an inner join
merged = pd.merge(df_customers, df_orders, on='CustomerID', how='inner')
print(f"Customers and Orders Data: \n{merged}")

#Create a pivot table from df_sales summarizing the total sales by region
pivot = pd.pivot_table(df_sales, values='Sales', index='Region', aggfunc='sum')
print(f"Total Sales by Region:\n {pivot}\n")

Customers and Orders Data:
   CustomerID   Name  OrderID  Amount
0           1  Alice      101     250
1           1  Alice      103     300
2           2    Bob      102     150
Total Sales by Region:
         Sales
Region
East      450
North     600
South     700
West      500

##Task 6: Data Persistence

In [20]:
#Save df_products to a CSV file named "products.csv"
df_products.to_csv('Products.csv', index=False)
print('DataFrame saved to "Products.csv" successfully.')

#Save df_products to an Excel file named "products.xlsx" with the sheet name "Products"
df_products.to_excel('Products.xlsx', index=False, sheet_name='Products')
print('DataFrame saved to "Products.xlsx" successfully.\n')

#Reload both files into new DataFrames and display them.
products_csv = pd.read_csv('Products.csv')
products_excel = pd.read_excel('Products.xlsx')

print(f'Loaded from .csv: \n {products_csv}\n')
print(f'Loaded from .xlsx: \n {products_excel}\n')

DataFrame saved to "Products.csv" successfully.
DataFrame saved to "Products.xlsx" successfully.

Loaded from .csv:
          Item  Unit Price  Inventory  Total Value  Discounted Price
0      Tablet      299.99        120      35998.8           269.991
1  Smartphone      499.99        150      74998.5           449.991
2      Laptop      999.99         80      79999.2           899.991
3  Smartwatch      199.99        200      39998.0           179.991

Loaded from .xlsx:
          Item  Unit Price  Inventory  Total Value  Discounted Price
0      Tablet      299.99        120      35998.8           269.991
1  Smartphone      499.99        150      74998.5           449.991
2      Laptop      999.99         80      79999.2           899.991
3  Smartwatch      199.99        200      39998.0           179.991